* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 1fr 4fr;
  color: white;
}

.dashboard-section {
  background: rgb(62, 192, 243);
  width: 1fr;
}

.menu-icon {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
}
