/* Layout */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "aside header header"
    "aside main main";
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: rgb(108, 108, 253);
  grid-area: aside;
  padding-top: 8px;
  padding-left: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background: white;
  grid-area: header;
  padding-left: 0.5rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, minmax(80px, 1fr));
  grid-template-areas:
    "first-section first-section second-section"
    "first-section first-section second-section"
    "first-section first-section third-section";
  background: rgb(226, 224, 224);
  grid-area: main;
}

/* Sidebar Content Layout Postioning and styling*/

.top-section,
.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top-section > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottom-section > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-section {
  margin-bottom: auto;
}

.bottom-section {
  margin-top: 2rem;
}

.menu {
  padding-bottom: 1.2rem;
}

.menu > img {
  width: 48px;
  height: 48px;
}

.sidebar > img {
  width: 24px;
  height: 24px;
}

/* Header Content Layout Postioning and styling */

.first-part {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 8px;
}

.searchbar {
  display: flex;
  gap: 5px;
}

input {
  padding-left: 30px;
  width: 600px;
  border-radius: 1rem;
  background: rgb(226, 224, 224);
  border: none;
}

.notification {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 150px;
}

.second-part {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: flex-end;
  width: 100%;
  gap: 10px;
  padding-left: 600px;
}

button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 18px;
  border: none;
  background: rgb(108, 108, 253);
  color: white;
}

.account {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Main Content Layout Postioning and styling */

.first-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  grid-area: first-section;
  padding-top: 20px;
}

.second-section {
  display: flex;
  flex-direction: column;
  grid-area: second-section;
  padding-top: 28px;
}

.third-section {
  display: flex;
  flex-direction: column;
  grid-area: third-section;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  margin: 10px;
  padding: 20px;
  padding-bottom: 30px;
  padding-right: 30px;
  border-left: 5px solid orange;
}

.yp {
  position: relative;
  left: 8px;
  bottom: 2px;
}

.announce {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 16px;
  width: 320px;
}

.announce > p {
  margin-bottom: 20px;
}

.announce > h4 {
  margin-top: 20px;
}

.ann {
  position: relative;
  bottom: 10px;
}

.trending-profile {
  display: flex;
  background: white;
  padding: 6.8px;
  width: 320px;
}
