/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "";
  color: white;
  background: grey;
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgb(62, 192, 243);
  padding-left: 1.5em;
  padding-right: 8px;
  grid-column: 1 / 1;
  grid-row: 1 / 5;
  height: auto;
}

.menu-icon {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.menu-icon > h2 {
  padding-left: 10px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-section {
  background: rgb(172, 21, 21);
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.search-icon {
  display: flex;
  justify-content: space-between;
  gap: 5em;
}

.search-icon > img {
  position: relative;
  left: 12px;
}

input {
  background: rgb(175, 174, 174);
  border-radius: 20px;
  border: none;
  position: relative;
  top: 12px;
  right: 3rem;
  height: 20px;
  width: 40rem;
}

.notification-icon {
  display: flex;
  padding-right: 8rem;
  gap: 10px;
}

.profile-useraction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  grid-column: 2 / 3;
}

h4 {
  color: black;
} */
