/* Layout */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "aside header header"
    "aside main main"
    "aside main main";
  min-height: 100vh;
  gap: 2px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: rgb(94, 94, 235);
  grid-area: aside;
  padding: 2rem;
}

.header {
  background: green;
  grid-area: header;
}

.main {
  background: red;
  grid-area: main;
}

/* Sidebar Content Layout And Postioning */

.top-section,
.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top-section > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottom-section > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-section {
  margin-bottom: auto;
}

.bottom-section {
  margin-top: 2rem;
}

.menu {
  padding-bottom: 1.2rem;
}

.menu > img {
  width: 48px;
  height: 48px;
}

.sidebar > img {
  width: 24px;
  height: 24px;
}
