/* Layout */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "aside header header"
    "aside main main"
    "aside main main";
  min-height: 100vh;
  gap: 2px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: rgb(94, 94, 235);
  grid-area: aside;
  padding: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background: green;
  grid-area: header;
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
}

.main {
  background: red;
  grid-area: main;
}

/* Sidebar Content Layout Postioning and styling*/

.top-section,
.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top-section > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bottom-section > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-section {
  margin-bottom: auto;
}

.bottom-section {
  margin-top: 2rem;
}

.menu {
  padding-bottom: 1.2rem;
}

.menu > img {
  width: 48px;
  height: 48px;
}

.sidebar > img {
  width: 24px;
  height: 24px;
}

/* Header Content Layout Postioning and styling */

.first-part {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 8px;
}

.searchbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(autofit, 1fr);
  gap: 5px;
}

input {
  border-radius: 1rem;
}
