* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  color: white;
}

.dashboard-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgb(62, 192, 243);
  padding-left: 1.5em;
  padding-right: 8px;
  grid-column: 1 / 1;
  grid-row: span 3;
  height: auto;
}

.menu-icon {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}

.menu-icon > h2 {
  padding-left: 10px;
}

.icon {
  display: flex;
  align-items: center;
  gap: 1rem;
}
